/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#main {
	border: 2px solid blue;
	height: 400px;
	width: 300px;
	background-color: cornflowerblue;
	overflow: auto;
	left: 400px;
	position: relative;
	/*right: 0px;*/
}
#sprite {
	width: 150px;
	height: 150px;
	margin:10px;
	top: 20px;
	left: 60px;
	right: 60px;
	position: absolute;
	border: 2px solid black;
}

#sub {
	border:2px solid red;
	height: 110px;
	position: relative;
	width: 230px;
	top: 180px;
	left: 30px;
}

.sub1 {
	position: absolute;
	left: 0px;
}

.sub2 {
	position: absolute;
	right: 0px;
}
#container {
	padding-left: 80px;
	padding-right: 80px;
}

#pokemoves {
	border: 2px solid blue;
	height: 40px;
	width: 230px;
	position: relative;
	top: 190px;
	left: 30px;
}

.moves1 {
	position: absolute;
	left: 0px;
}


.moves2 {
	position: absolute;
	right: 0px;
}
#hp {
	top: 30px;
}